@page
@model ContactModel
@{
    ViewData["Title"] = "Contacto";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    M4 I+D<br />
    Lima Perú<br />
    <abbr title="Teléfono celular:">telf:</abbr>
    +51997359036
</address>

<address>
    <strong>Soporte:</strong> <a href="mailto: soporte@example.com.pe">soporte@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
