@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-md-12">
        <h4>Acceso a información almacenada en PostgreSQL</h4>
        
    </div>
</div>